FEISHU_WEBHOOK=
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_GROUP_ID=

ALPHA_VANTAGE_KEY=

MSTU_TRADING_STATE_DIR=
MSTU_SYMBOL=MSTU
MSTU_COST_PRICE=14.554
MSTU_CURRENT_PRICE=7.27
MSTU_BASE_POSITION=3000
MSTU_AVAILABLE_CASH=1400
